<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <title>在庫リスト</title>
    <script src="/js/Inventory.js" defer></script>
</head>
<body>
    <!-- 共通ヘッダー -->
    <div th:replace="common/header :: header"></div>

    <!-- 在庫リスト -->
    <form id="inventoryForm" th:action="@{/Inventory/Delete}" method="post">
		<!-- エラーメッセージエリア -->
		<div id="error-message" class="error" style="display:none;"></div>
        <table border="1">
            <thead>
                <tr>
					<th></th>
                    <th>カテゴリ</th>
                    <th>商品名</th>
                    <th>日付</th>
                </tr>
            </thead>
            <tbody>
                <!-- 在庫リスト -->
                <tr th:each="item, stat : ${items}">
                    <td>
                        <input type="checkbox" name="selectedIds" th:value="${item.detailId}" />
                    </td>
                    <td th:text="${item.categoryName}">カテゴリ</td>
                    <td th:text="${item.productName}">商品名</td>
                    <td th:text="${item.latestDate}">日付</td>
                </tr>
                <!-- 在庫が空の場合は tbody がそのまま空 -->
            </tbody>
        </table>
        <button type="submit">削除</button>
    </form>
</body>
</html>
