<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/Login.css}" type="text/css">
	<script th:src="@{/js/Login.js}" defer></script>
	<title>Login</title>
</head>

<body>
	<div class="container">
		<form id="loginForm" th:action="@{/Login}" th:object="${loginForm}" method="post">
			
			<!-- サーバー・クライアント共通メッセージ枠 -->
			<div id="messageBox"
			     th:text="${message}"
			     th:class="${messageClass}"
			     th:attr="style=${message != null} ? '' : 'display:none;'">
			</div>

			<!-- タイトル -->
			<h2 class="fsize">ログイン画面</h2>

			<input type="text" th:field="*{loUser}" placeholder="Username" maxlength="8" />

			<input type="password" th:field="*{loPass}" placeholder="Password" maxlength="8" />

			<div class="button-group">
				<button type="submit">ログイン</button>
				<button type="button" onclick="location.href='/NewUser'">新規登録</button>
			</div>
		</form>
	</div>
</body>

</html>
