<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/Login.css}" type="text/css">
	<script th:src="@{/js/Login.js}" defer></script>
	<title>Login</title>
</head>

<body>
	<div class="container">
		<form id="loginForm" th:action="@{/Login}" th:object="${loginForm}" method="post">
			
			<!-- ログアウトメッセージ -->
			<div id="logout-message" class="success" th:if="${logoutMessage != null}">
			    <p th:text="${logoutMessage}"></p>
			</div>

			<!-- エラーメッセージ -->
			<div id="error-message" class="error">
				<p th:text="${loginError}"></p>
			</div>

			<!-- タイトル -->
			<h2 class="fsize">ログイン画面</h2>

			<input type="text" th:field="*{loUser}" placeholder="Username" maxlength="8" />

			<input type="password" th:field="*{loPass}" placeholder="Password" maxlength="8" />

			<div class="button-group">
				<button type="submit">ログイン</button>
				<button type="button" onclick="location.href='/NewUser'">新規登録</button>
			</div>
		</form>
	</div>
</body>

</html>
