<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
	<link rel="stylesheet" th:href="@{/css/header.css}" type="text/css">
    <title>パスワード変更</title>
    <script src="/js/PasswordChange.js" defer></script>
    <link rel="stylesheet" th:href="@{/css/PasswordChange.css}" type="text/css">
</head>
<body>
	<!-- 共通ヘッダー -->
	<div th:replace="common/header :: header"></div>
	
	<!-- 成功メッセージ -->
	<div th:if="${successMessage != null}" class="success-box">
	    <p th:text="${successMessage}"></p>
	</div>

	<!-- エラーメッセージ (サーバー or JS 共通) -->
	<div id="errorBox" class="error" style="display:none;"></div>
	<div th:if="${errorMessage != null}" class="error">
	    <span th:text="${errorMessage}"></span>
	</div>

    <main class="password-main">
        <div class="form-container">
            <!-- 入力フォーム -->
            <form id="passwordForm" th:action="@{/PasswordChange}" th:object="${passwordForm}" method="post">
                <div class="form-table">
                    <div class="form-row">
                        <label>現在のパスワード</label>
                        <input type="password" th:field="*{currentPassword}" maxlength="8" />
                    </div>

                    <div class="form-row">
                        <label>新規のパスワード</label>
                        <input type="password" th:field="*{newPassword}" maxlength="8" />
                    </div>

                    <div class="form-row">
                        <label>確認用パスワード</label>
                        <input type="password" th:field="*{confirmPassword}" maxlength="8" />
                    </div>

                    <div class="button-row">
                        <button type="submit">登録</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
</body>
</html>
